body{
    background-color: #fff;
 display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;}
    
.a{
    padding: 20px;
    width: 353px;
    height: 372px;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.15);

}
.e{
    background-color: #f2eafd;
    color:rgb(158, 78, 158);
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 26px;
    margin-bottom:16px ;
    width: 40px;
}
.c{
    color: #475467;
}
.d{
    padding-top: 10px;
    border-top: 1px solid #e5e7eb;
    color: #475467;

}